@import "./variables";
$themes: (
  light: (
    bg-header: $bg-header-light,
    bg-body: $bg-body-light,
    navbar-color: $navbar-light,
    navbar-border: $navbar-border-light,
    text-link: $text-link-light,
    text-header: $text-header-light,
    text-heading: $text-heading-light,
    // text: $text--light,
    // text-important: $text--imp--light,
    // text-secondary: $text--2--light,
    // text-badge: $text--light,
    // link: $brand--secondary--light,
    // hover: $hover--light,
    // brand-red: $brand--primary--light,
    // brand-blue: $brand--secondary--light,
    // border: $border--light,,,,,,,,,,
  ),
  dark: (
    bg-header: $bg-header-dark,
    bg-body: $bg-body-dark,
    navbar-color: $navbar-dark,
    navbar-border: $navbar-border-dark,
    text-link: $text-link-dark,
    text-header: $text-header-dark,
    text-heading: $text-heading-dark,
    // bg: $bg--dark--top,
    // card-bg: $bg--card--dark,
    // card-border: $card-border--dark,
    // text: $text--dark,
    // text-important: $text--imp--dark,
    // text-secondary: $text--2--dark,
    // text-badge: $text--dark,
    // link: $brand--secondary--dark,
    // hover: $hover--dark,
    // brand-red: $brand--primary--dark,
    // brand-blue: $brand--secondary--dark,
    // border: $border--dark,,,,,,,,,,
  ),
);
