@import "../../../Styles/functions";
@import "../../../Styles/mixins";
.project {
  font-family: GTWalsheim, sans-serif;

  &__card {
    width: 450px;
    height: 300px;
    background: url("https://gedalyakrycer.com/assets/images/img-links/portfolio/Card/driverkick-thumbnail.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    margin: 100px 0px;
    position: relative;

    @include smMaxBreakPoint {
      // border: 1px solid red;
      width: 350px;
      height: 250px;
      margin: 50px 0;
    }

    .project__card__content.active-content {
      height: 90%;
    }

    &__content {
      position: absolute;
      width: 98%;
      bottom: 3px;
      left: 50%;
      transform: translateX(-50%);
      height: 50px;
      border-radius: 10px;
      padding: 0.4em 1.5em;
      font-size: 14px;
      background: rgba(0, 0, 0, 0.436);
      backdrop-filter: blur(10px);
      border-radius: 10px;
      color: white;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.144);
      overflow: hidden;
      transition: all 0.3s ease-in-out;
      transition-timing-function: cubic-bezier(0.6, 0.4, 0, 1);
      @include flex-between;
      flex-direction: column;

      // .close-icon {
      //   position: absolute;
      //   top: 4%;
      //   right: 4%;
      //   z-index: 100;
      // }

      &__title {
        font-size: 1.5rem;
        margin-bottom: 30px;
      }
      &__description {
        // border: 1px solid black;
      }

      &__technologies {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
      }

      &__links {
        width: 100%;
        @include flex-between;

        .card-link {
          padding: 5px 10px;
          cursor: pointer;
          color: white;
        }
      }
    }

    // &:hover > .project__card__content {
    //   height: 90%;
    //   @include smMaxBreakPoint {
    //     height: 50px;
    //   }
    // }
    // &:hover .project__card__content__title {
    //   margin-bottom: 0px;
    //   @include smMaxBreakPoint {
    //     margin-bottom: 30px;
    //   }
    // }
  }
}
