@import "../../Styles/functions";
@import "../../Styles/mixins";
.footer {
  height: $navbar-height;
  @include themify() {
    background-color: themed("navbar-color");
  }
  @include flex-center;

  z-index: 2;
  position: absolute;
  width: 100%;

  &__resume {
    // border: 1px solid green;
    width: 110px;

    @include flex-start;
    flex-direction: column;
    &__link {
      @include themify() {
        color: themed("text-link");
      }
      font-size: toRem($link-text-size);
      font-weight: bold;
      text-decoration: none;
      cursor: pointer;
    }
  }

  &__credits {
    width: 110px;
    @include flex-start;
    flex-direction: column;
    @include themify() {
      color: themed("text-link");
    }
    font-size: toRem($link-text-size);
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    // border: 1px solid yellowgreen;
  }

  &__social-icons {
    width: 110px;
    @include flex-around;
    // flex-direction: column;
    // border: 1px solid red;
    color: white;
  }
}
